@use "sass:color";
* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-bg;
}

body {
  touch-action: manipulation;
}

.page-head {
  // background: $background-secondary;

  .navbar-default {
    border: 0;
    // background: $background-secondary;
  }

  .navbar-text {
    // color: #494949;
  }

  .navbar-right {
    // margin-top: 6px;
  }

  .navbar-brand {
    text-align: center;
  }

  .navbar-toggle {
    // border: none;

    &:hover,
    &:focus {
      color: $theme-text-secondary;

      .icon-bar {
        // background-color: $background-tertiary;
      }
    }
  }
}


.page-side {
  border-right: 1px solid color.adjust($navbar-default-border, $lightness: -5%);
}

.page-side-nav {

  &--active {
    border-left: 3px solid $brand-warning;
  }

  .panel {
    background: transparent;
  }

}

.page-foot {
  position: fixed;
  right: 0;
  bottom: 0;
  // background: $background-tertiary;
}

.page-foot,
.login-foot {
  font-size: 0.8em;
  padding: 1rem 0;

  a {
    color: color.adjust($text-color, $lightness: -25%);
  }
}

.content-box {
  border-radius: 3px;
  // background: $background-tertiary;

  @extend .clearfix;

  &-head {
    @extend .page-content-head;
  }

  &-main {
    // background: $background-tertiary;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

div.content-box.wizard {
  div {
    img {
      filter: invert(25%);
    }
  }
}

.tab-content {
  padding: 0px 0;
  border-top: 0px;

  >.tab-content {
    margin-bottom: 0;
    padding: 0 15px;
  }

  .tab-content:last-child {
    margin-bottom: 0;
  }
}

.page-content-main section[class^="col-"]+section[class^="col-"] {
  padding-top: calc($grid-gutter-width / 2);
}

// override default BS style
.navbar-brand>img {
  display: none;
}

html .login-modal-container .navbar-brand>img {
  display: block;
}

html .brand-logo {
  margin: 5px 0;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

html .brand-icon {
  width: 30px;
  margin: 5px 0;

  @media (max-width: $screen-xs-max) {
    display: inline-block;
  }
}

.col-sm-disable-spacer {
  @media (min-width: $screen-sm-min) {
    padding-top: 0 !important;
  }
}

.col-md-disable-spacer {
  @media (min-width: $screen-md-min) {
    padding-top: 0 !important;
  }
}

.col-lg-disable-spacer {
  @media (min-width: $screen-lg-min) {
    padding-top: 0 !important;
  }
}


.list-inline .btn-group-container {
  @media (min-width: $screen-sm-min) {
    float: right;
  }

  .label-success, .label-danger {
    margin-right: 0;
  }

  .btn {
    margin-left: 1em;
  }
}

// label-opnsense/label-* is used as button class for small
// inline button groups - make these styles identical to
// the BS button styles
.label-opnsense {
  @extend .btn;
  vertical-align: middle;
  line-height: inherit;

  &.label-opnsense-sm {
    @extend .btn-sm;
  }
  
  &.label-opnsense-xs {
    @extend .btn-xs;
  }
  
  &.label-success {
    @extend .btn-success;
    @extend .btn-sm;
  }
  
  &.label-danger {
    @extend .btn-danger;
    @extend .btn-sm;
  }
}

label.dropdown-item {
  font-weight: normal;
  user-select: none
}

.btn.btn-fixed {
  width: 100%;
  max-width: 174px;
}

.progress-bar-placeholder {
  font-size: $font-size-small;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.list-group-item {
  border-right: none;
  border-left: none;
  // background-color: transparent;

  &.collapsed .caret {
    border-top: 0;
    // border-bottom: 4px solid green;
  }
}


.toggle-sidebar {
  font-size: 14px;
  float: left;
  margin-top: 20px;
  color: $theme-text-secondary;
  border: none;
  outline: none;
  background-color: transparent;
}



.list-group-submenu .list-group-item:last-child,
.collapse .list-group-item:last-child {
  border-bottom: none;
}

ul.nav>li.dropdown>ul.dropdown-menu>li>a {
  padding: 3px 10px;
}


// Modal for notifications
#opn-status-list .btn {
  color: #565656;
  border: 1px solid $theme-border-primary;
  background: transparent;

  &:hover {
    background-color: transparent;
    // background: #f9f9f9;
  }
}

// html #interface-selection-wrapper {
.bootstrap-select[style] {
  width: auto !important;
  max-width: 100% !important;
  box-sizing: border-box;
  display: block;
}

.bootstrap-select .dropdown-toggle {
  width: 100% !important;
}

// Tweak bootstrap select

// prevent bootstrap-select from pushing out form layout
.table-responsive .bootstrap-select {
  &[style] {
    width: 100% !important;
    max-width: 100% !important;
    display: block;
    box-sizing: border-box;
  }
}

.bootstrap-select {

  .btn-default {
    border: 1px solid $input-border;

    &:focus {
      border-color: $input-border-focus;
    }
  }

  &.open>.btn-default {
    border-color: $input-border-focus;
  }

  &.open>.btn-default {
    border-color: $input-border;
  }

}

.btn .glyphicon {
  vertical-align: -1px;
}

.btn>b {
  font-weight: normal;
}

.table,
table {
  margin-bottom: 0px !important;
  color: $text-color;
}


.table th,
strong,
b {
  font-weight: bold;
}

.table th {
  color: $theme-text-primary;
}

$spacing_unit: 1em;

.table>tbody>tr>td:last-child {
  padding-right: $spacing_unit;
}

/* helpers */
.__nowrap {
  white-space: nowrap;
}

.__nomb {
  margin-bottom: 0;
}

.__mb {
  margin-bottom: $spacing_unit;
}

.__mt {
  margin-top: $spacing_unit;
}

.__ml {
  margin-left: $spacing_unit;
}

.__mr {
  margin-right: $spacing_unit;
}

.__iconspacer {
  padding-right: $spacing_unit;
}


.navbar-brand {
  padding: 10px 20px;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: $theme-bg-secondary;
  box-shadow: 0px 0px 0px;
}

::-webkit-scrollbar-thumb {
  border: thin solid $theme-border-secondary;
  border-radius: 0px;
  background: $theme-bg-tertiary;
}

::-webkit-scrollbar-thumb:hover {
  background: $theme-bg-secondary;
}

.widgetdiv {
  padding-top: 0px !important;
  padding-bottom: 20px;
}

select {
  overflow: hidden;
  cursor: pointer;
  background-image: url($theme-path + "/build/images/caret.png") !important;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.table-responsive {
  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
}


.table td {
  word-break: break-word;
}

.page-content-main form input[type="checkbox"] {
  // margin-bottom: 10px;
  // margin-right: 10px;
}

label>input[type="checkbox"],
label>input[type="radio"] {
  // float: left;
  // margin-right: .4em;
}

input[type="checkbox"],
input[type="text"],
input[type="password"],
textarea {
  border-radius: 4px;
  // width: auto;
  box-shadow: none;

  &:hover {
    border-color: $input-border;
    background-color: $theme-bg-tertiary;
  }

  &:focus {
    border-color: $input-border-focus;
    background-color: $input-bg-focus;
  }
}

input[type="checkbox"],
input[type="radio"] {
  // font: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  transition: border-color 150ms ease, background-color 150ms ease;
  transform: translateY(1px);
  border: 1px solid $input-border;

  border-radius: 0.15em;
  -webkit-appearance: none;
  appearance: none;

  &::before {
    visibility: hidden;
    width: 10px;
    height: 10px;
    content: "";
    transition: transform 120ms ease-out 60ms, opacity 120ms ease-out, visibility 120ms ease-out;
    transform: scale(.65);
    opacity: 0;
    background-color: $input-bg;
    // box-shadow: inset 1em 1em $theme-bg-secondary;
    /* Windows High Contrast Mode */
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked {
    border-color: $brand-primary;
    color: $brand-primary;

    &::before {
      background-color: $brand-primary;
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }
  }

  &:disabled {
    cursor: not-allowed;

    // color: var(--form-control-disabled);
    // --form-control-color: var(--form-control-disabled);
  }
}

// Radio
input[type="radio"] {
  border-radius: 50%;
}

div[data-for*="help_for"] {
  opacity: 0.75;
  padding-top: .5em;
  overflow-wrap: normal;
  word-break: normal;
  text-align: left;
  text-indent: 0;
}

#log-settings label[for^="act"] {
  margin-right: 1.5em;
}

#log-settings table>tbody>tr>td {
  vertical-align: middle;
}

#log-settings select#filterlogentries,
#log-settings select#filterlogentriesupdateinterval {
  width: 5em;
}

#log-settings select#filterlogentriesinterfaces {
  min-width: 100%;
  max-width: 100%;
}

/* fields in firewall schedule */
[data-state="lightcoral"] {
  background-color: lightcoral;
}

[data-state="white"] {
  background-color: white;
}

[data-state="red"] {
  background-color: $brand-danger;
}


.bootgrid-table td.select-cell {
  width: 30px !important;
}

html .bootgrid-table td.loading,
html .bootgrid-table td.no-results {
  background-color: transparent !important;
}

.fa.command-toggle {
  font-size: 16px;
  padding-top: 5px;
  vertical-align: middle;
}




// apply the BS form input styles over inputs that don't have
// .form-control 
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  @extend .form-control;
}






// @supports (-moz-appearance: none) {

//   html :not(ul),
//   body :not(ul) {
//     scrollbar-width: thin;
//     scrollbar-color: rgba(60, 60, 60, 0.15) transparent;
//   }
// }


#dnsallowoverride_exclude {
  hr {
    display: none;
  }
  padding-left: 2em;
}