
.btn-pressed, .btn-pressed:hover {
    // color: white;
    // background-color: #0086d9;
}



#save-grid {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 33px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

#save-btn-text, #icon-container {
    position: absolute;
}

#icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#save-spinner, #save-check {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.transition-spinner, transition-check {
    transition: opacity 0.3s ease, transform 0.3s ease;
}


#services-table {
    .flex-cell.first b {
        font-weight: normal;
    }
}

html .grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-y: hidden;
    @include slim-scroll;
    &:hover {
        overflow-y: auto;
    }
}

.widget-content {
    @extend .panel;
    @extend .panel-default;
}

.widget-header {
    @extend .panel-heading;
    display: flex;
    flex-direction: row;
    align-items: center;

    .widget-title {
        @extend .panel-title;
        flex: 1 1 auto;
        text-align: center;
        b, strong {
            font-weight: inherit;
        }
    }
    .widget-header-left {
        flex: 0 0 auto;
    }
    .widget-command-container {
        align-self: flex-end;
    }
}



// widget body
.widget-header ~ div {
    @extend .panel-body;
    padding: 0;
    // color: $theme-text-tertiary;

    &.widget-error {
        margin: 50px;
        color: $brand-danger;
        text-align: center;

        > i {
            font-size: 400%;
            opacity: 0.4;
        }
    }

    .canvas-container {
        margin: 1em 0.5em;
    }
}
 


.widget-spinner {
    margin-top: 20px;
}

.traffic-charts-container {
    margin: 0.5em;
    h3 {
        text-align: right;
        font-size: $font-size-small;
    }
}

.fa-stack.small {
    font-size: 0.5em;
}

.close-handle,
.edit-handle {
    padding: .2rem .5rem;
    cursor: pointer;
    text-align: right;
    vertical-align: middle;
}

.close-handle > i,
.edit-handle > i {
    font-size: 1.2rem !important;
}

.widget-header-left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.widget-command-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: flex-end;
}

html .panel-divider {
    &, .line {
        display: none;
    }
}

td {
    word-break: break-all;
}

.canvas-container-noaspectratio {
    position: relative;
}

.canvas-container {
    position: relative;
}

.canvas-container > canvas {
    /* 
    ChartJS v4 workaround
    https://github.com/chartjs/Chart.js/issues/11005 
    */
    width: 100% !important;
    height: 100% !important;
}

.cpu-canvas-container {
    display: flex;
    flex-direction: column;
}

.smoothie-container {
    width: 100%;
}

.smoothie-chart-tooltip {
    font-size: 13px;
    z-index: 1; /* necessary to force to foreground */
    padding-right: 15px;
    padding-left: 15px;
    pointer-events: none;
    color: $theme-text-secondary;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background: rgba(50, 50, 50, 0.9);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.gateway-info {
    font-size: 13px;
    margin: 5px;
    padding: 5px;
}

.gateway-detail-container {
    display: none;
    margin: 5px;
}

.interface-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.nowrap {
    flex-wrap: nowrap;
}

.gateway-graph {
    display: none;
}

.flex-container > .gateway-graph {
    font-size: 13px;
}

.vertical-center-row {
    display: inline;
    height: 100%;
}

.interfaces-info {
    font-size: .8rem;
    margin: 5px;
}

.interface-descr {
    font-size: 1em;
    margin-left: .8em;
    cursor: pointer;
    text-decoration: underline;
}

.interfaces-detail-container {
    display: none;
    margin: 5px;
}

.d-flex {
    display: flex;
}

.d-flex > .justify-content-start {
    justify-content: start;
}

.d-flex > .justify-content-end {
    justify-content: end;
}

#chartjs-toolip {
    z-index: 20;
}

/* CPU widget */
.cpu-type {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Custom flex table */
div {
    // box-sizing: border-box;
}

html .flextable-container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0;
}

html .flextable-header {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0.5em;
    transition: 0.5s;
    border-top: solid 1px  $table-border-color!important;
}

html .flextable-row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 0.5rem 1rem; // overridden on element
    transition: 0.5s;
    &:not(:first-child){
        border-top: solid 1px $table-border-color !important;
    }
}

.flextable-header .flex-cell {
    font-weight: normal;
}


.flex-cell {
    padding: 4px 0;
    text-align: left;
    word-break: break-word;
}

.column {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 0;
}

.column .flex-cell {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 4px 0;
    border: none;
    border-top: 1px solid $table-border-color !important;
}

.column .flex-cell:hover {
    transition: 500ms;
    // background: #f5f5f5;
}

.flex-subcell {
    width: 100%;
    text-align: left;
}

.column .flex-cell:not(:last-child) {
    // border-bottom: solid 1px #e8eaef !important;
}

/* ----- */

/* CSS grid responsive table */
.grid-header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-row {
    display: grid;
    transition: 0.5s;
    opacity: 0.4;
    // border-top: 1px solid #eff3f8;
    // background-color: #d6e5f7; /* fade-in color, transitions to transparent */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-row:hover {
    transition: 500ms;
    // background: #f5f5f5 !important;
}

.grid-header {
    font-weight: bold;
    // border-top: 1px solid #eff3f8;
}

.grid-item {
    padding: 4px;
    text-align: center;
}

/* ----- */

.ovpn-common-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gateway-table {
    > .flextable-row {
        display: flex;
        // flex-direction: column;
        // clear: both;
        align-items: flex-start;
        justify-content: space-between; 
        flex-wrap: wrap;
        gap: 1em;
        // IP
        > .flex-cell:first-child {
            flex: 1 1 0;
            min-width: 0; 
            // flex: 1 0 auto;
            // align-self: flex-start;
            // background-color: yellow;
            // width: 100%;
            > b {
                font-weight: inherit;
                > div {
                    // status icon
                    > i {
// background-color: yellow;
                    }
                    // gw name/link
                    > a {
// background-color: purple;
                    }
                    // IP address
                    br + div {
                        font-size: 24px !important;
                        // background-color: aqua;
                    }
                }

            }


            // html.no-js body main.page-content.col-lg-12 div.row section.page-content-main div.container-fluid div.row section.col-xs-12 div.grid-stack.gs-12.gs-id-0.grid-stack-animate div.grid-stack-item.size-to-content.ui-draggable-disabled.ui-resizable-disabled.size-to-content-max div.grid-stack-item-content div#w6ldmm.widget.widget-gateways div.widget-content div div#gateway-table.flextable-container
        }
        // RTT/packet loss
        > .flex-cell:last-child {
            flex: 0 0 auto;
            color: $theme-text-tertiary;
            align-self: flex-end;
            // margin-right: 0;
            margin-left: auto;
            width: auto !important;
        }
    }

 
}
