@use "sass:color";
html #maintabs>li>a {
    border: none;
}

html .stats-element {
    background-color: transparent;
}

html #maintabs+.tab-content {
    border-top: none;
}

html #query-details {

    #grid-queries {
        tr {
            background: none;
        }

        .query-info {
            @extend .text-muted;
        }

        .query-success {
            @extend .text-info;
        }

        .query-warning {
            @extend .text-warning;
        }

        .query-danger, .query-error {
            @extend .text-danger;
        }

        .btn-secondary {
            @extend .btn;
            @extend .btn-xs;
            @extend .btn-default;
        }
    }
}



html .list-group-item-border:first-child {
    border-radius: 0 !important;
    // border-bottom: 2px solid black;
}

html .list-group-item-border {
    color: $table-color;
    // border: none !important;
    border: 1px solid color.adjust($table-border-color,$lightness: 25%) !important;
    //   border-bottom-width: 1px;
    //   border-bottom-style: solid;
    //   border-bottom-color: rgb(221, 221, 221);
}

html .list-item-domain {
    height: 2.5em;
}

html .list-group-item {
    .counter {
        position: relative;
        top: -3px;
        @extend .text-muted;
        font-size: $font-size-small;
        line-height: 1.4;
        flex: 1;
        text-align: right;
    }
}