@use "sass:color";
html #maintabs>li>a {
    border: none;
}

html .stats-element {
    background-color: transparent;
}

html #maintabs+.tab-content {
    border-top: none;
}

html #query-details {

    #grid-queries {
        tr {
            background: none;
        }

        .query-info {
            @extend .text-muted;
        }

        .query-success {
            @extend .text-info;
        }

        .query-warning {
            @extend .text-warning;
        }

        .query-danger, .query-error {
            @extend .text-danger;
        }

        .btn-secondary {
            @extend .btn;
            @extend .btn-xs;
            @extend .btn-default;
        }
    }
}



html .list-group-item-border:first-child {
    border-radius: 0 !important;
    // border-bottom: 2px solid black;
}

html .list-group-item-border {
    color: $table-color;
    border: 1px solid color.adjust($table-border-color,$lightness: 25%) !important;
}

html .list-item-domain {
    height: 2.5em;
}

html .top-list .list-group-item {
    .counter {
        position: relative;
        top: -3px;
        @extend .text-muted;
        font-size: $font-size-small;
        line-height: 1.4;
        flex: 1;
        text-align: right;
    }
}

html h3#bannersub {
    @extend h4;
    color: $theme-text-tertiary;
}

button.block-domain,
button.whitelist-domain {
    @extend .btn;
    @extend .btn-xs;
    @extend .btn-default;
}

html .top-list {
    @extend .panel;
    @extend .panel-default;
    
    .list-group {
        @extend .list-group;
        padding: 0;
        .list-group-item {
            &:first-child {
                @extend .panel-heading;
                @extend h4;
                @extend .panel-title;
                b {
                    font-weight: inherit;
                }
            }
            p {
                padding: 0;
                margin: 0;
                line-height: inherit;
            }
        }
    }
}

