@import "open-sans/open-sans";


html,
body {
  font-family: $font-family-base;
  font-weight: normal;
  font-synthesis: none;
  font-feature-settings: "kern";
  font-variant-ligatures: no-common-ligatures;
  
  // font-size: $font-size-base;
}

.page-content-head {

  .navbar-nav {
    // width: 100%;
  }

  h1 {
    font-weight: 300;
  }
}


.table>colgroup+thead>tr {

  th,
  td {
    // font-family: $font-family-base !important;
    // background-color: red;
  }
}

.table thead tr {

  th,
  td {
    font-family: $font-family-base !important;
  }
}


@at-root {
  // Import the fonts
  @font-face {
    font-family: "Glyphicons Halflings";
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path("#{$icon-font-path}#{$icon-font-name}.eot"), "#{$icon-font-path}#{$icon-font-name}.eot"));
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path("#{$icon-font-path}#{$icon-font-name}.eot?#iefix"), "#{$icon-font-path}#{$icon-font-name}.eot?#iefix")) format("embedded-opentype"),
         url(if($bootstrap-sass-asset-helper, twbs-font-path("#{$icon-font-path}#{$icon-font-name}.woff"), "#{$icon-font-path}#{$icon-font-name}.woff")) format("woff"),
         url(if($bootstrap-sass-asset-helper, twbs-font-path("#{$icon-font-path}#{$icon-font-name}.ttf"), "#{$icon-font-path}#{$icon-font-name}.ttf")) format("truetype"),
         url(if($bootstrap-sass-asset-helper, twbs-font-path("#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}"), "#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}")) format("svg");
  }
}

