
.page-login {
  background: linear-gradient($theme-bg-primary, $theme-bg-tertiary);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    &:after {
      height: 60px;
    }
  }
}

.login-modal-container {
  background-color: $theme-bg-primary;
  padding: 2em 1em;
}

.login-modal {

  &-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 12px $theme-box-shadow-color;
  }

  &-head {
    height: 4em;
    padding: 0 2em;

    .navbar-brand {
      display: flex;
      float: none;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &-content {
    padding: 1.5em;
  }

  &-foot {
    height: 60px;
    padding: 1em 1em 0 1em;

    button {
      float: none;
      padding: 1em 3em;
    }
  }
}


.login-foot {
  height: 60px;
  padding: 20px 20px 0 20px;

  a {
    text-decoration: none;
    color: $theme-text-quaternary;

    &:hover {
      text-decoration: underline;
    }
  }
}