
.page-login {
  background: linear-gradient($theme-bg-primary, $theme-bg-secondary);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    &:after {
      height: 60px;
    }
  }
}

.login-modal-container {
  background-color: $theme-bg-primary;
  padding: 2em 1em;
}

.login-modal {

  &-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 8px;
    border-radius: 4px;

    box-shadow: 0 5px 8px rgba(#050008, .1);
  }

  &-head {
    height: 50px;
    padding: 0 20px;

    .navbar-brand {
      display: flex;
      float: none;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &-content {
    padding: 20px 20px 20px 20px;
  }

  &-foot {
    height: 60px;
    padding: 20px 20px 0 20px;
    border-top: 1px solid $theme-border-secondary;

    button {
      float: none;
      padding: 1em 3em;
    }

    a {
      text-decoration: none;
      // color: #7d7d7d;

      &:hover {
        text-decoration: underline;
        // color: darken(#7d7d7d, 10%);
      }
    }
  }
}