@mixin slim-scroll() {

    overflow-y: hidden;
    &:hover {
        overflow-y: auto;
    }

    /* Slim scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($theme-bg-primary, 0.4);
        border-radius: 3px;
    }

    /* Slim scrollbar for Firefox */
    & {
        scrollbar-width: thin;
        /* "auto" or "thin" */
        scrollbar-color: $theme-border-primary transparent;
    }
}