@mixin slim-scroll() {

    /* Slim scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.4);
        border-radius: 3px;
    }

    /* Slim scrollbar for Firefox */
    & {
        scrollbar-width: thin;
        /* "auto" or "thin" */
        scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
    }
}