@use "sass:color";
/**
* Primary navigation
*/

@mixin nav-flyout-shadow(){
  // background-color: red !important;
  border: 1px solid $navigation-border-color;
  // -moz-box-shadow: 2px 2px 4px 0px $navigation-box-shadow;
  // -webkit-box-shadow: 2px 2px 4px 0px $navigation-box-shadow;
  box-shadow: 2px 2px 6px 3px $theme-box-shadow-color;
}

#navigation {

  @include slim-scroll;
  border-right: 1px solid $navigation-border-color;
  
  // .page-side-nav {
  
  //   &--active {
  //     border-left: 3px solid $brand-warning;
  //   }
  
  //   .panel {
  //     background: transparent;
  //   }
  
  // }
  
  .panel.list-group {
    .fa:not(.__iconspacer) {
      width: auto;
      padding-right: 10px;
    }

    a.list-group-item {
      position: relative;
      padding: 0.75em 1em;
      text-decoration: none;
      color: $theme-text-secondary;
      background-color: inherit;
      &:not(:last-child) {
        border-color: $navigation-border-color;
      }

      &:hover {
        color: $theme-text-primary;
        background-color: $theme-bg-secondary;

        // &::before {
        //   background-color: $list-group-active-border;
        // }
      }

      &.active, &.active-menu-title {
        color: $theme-text-secondary;
        background: $theme-bg-secondary;
        // border-color: transparent;
      }


    }

    // >.list-group-item:not(.collapsed).active-menu-title {
    //   &::before {
    //     width: 3px;
    //     transition: opacity 200ms;
    //   }
    // }

  }

  .panel.list-group>div {
    .list-group-item {
      font-size: $font-size-small;
      position: relative;
      padding: 0.5em 0 0.5em 4em;

      .menu-level-3-item {
        padding-left: 0.5em;
      }
      // &::before {
      //   position: absolute;
      //   z-index: 1;
      //   top: -11px;
      //   bottom: 13px;
      //   left: 12px;
      //   display: block;
      //   width: 0;
      //   content: "";
      //   opacity: .8;
      // }

      // &::after {
      //   position: absolute;
      //   z-index: 1;
      //   top: 13px;
      //   left: 12px;
      //   display: block;
      //   width: 12px;
      //   content: "";
      // }

      // &:hover,
      // &.active,
      // &:focus {
      //   &::before {
      //     opacity: 1;
      //   }
      // }
    }
  }
}

#navigation.col-sidebar-left {
  overflow: hidden;
  width: 70px;
  height: 100%;
  border: none;
  // background-color: transparent;
  position: absolute;

  >div {
    &.row {
      height: 100% !important;

      >nav.page-side-nav {
        width: 70px;
        height: 100% !important;
        background: $theme-bg-primary;
      }
    }

    >nav>#mainmenu>div> {
      a.list-group-item {
        font-size: 13px;
        width: 70px;
        height: 70px;
        padding-top: 12px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        border-right: 1px solid $navigation-border-color;

        >span {

          &.fa,
          &.glyphicon {
            font-size: 20px;
            visibility: visible;
            opacity: 0.5;
          }
         
          &.__iconspacer {
            display: block;
            height: 30px;
            padding: 0px;
            text-align: center;
          }
        }
      }
  
      div {
        &.collapsing>a.list-group-item {
          font-size: 14px !important;
          position: absolute !important;
          left: 70px !important;
          display: block !important;
          padding-left: 10px !important;
        }

        &.collapse {
          &.in {
            > {
              div.collapsing>a.list-group-item {
                font-size: 14px !important;
                position: absolute !important;
                left: 166px !important;
                display: block !important;
                padding-left: 10px !important;
              }

              a.list-group-item,
              div.collapse.in>a.list-group-item {
                background-color: $navbar-default-bg !important;
              }
            }

            >div.collapse.in>a.list-group-item {
              font-size: 14px !important;
              padding-left: 10px !important;
            }
          }

          > {

            div.collapse>a.list-group-item,
            a.list-group-item {
              font-size: 14px !important;
              padding-left: 10px !important;

              &::before,
              &::after {
                display: none;
              }
            }
          }
        }

        &.collapsed>a.list-group-item {
          font-size: 14px !important;
          padding-left: 10px !important;
        }

        &.collapse {
          > {
            a.list-group-item,
            div.collapse>a.list-group-item {
              padding: 3px 8px !important;
            }
          }

          &.in {
            font-size: 14px;
            position: absolute;
            z-index: 10;
            left: 70px;
            width: 168px;
            margin-top: -70px;
            @include nav-flyout-shadow();

            >div.collapse.in {
              font-size: 14px;
              position: absolute;
              z-index: 10;
              left: 166px;
              width: 168px;
              margin-top: -26px;
              border: 1px solid $navigation-border-color;
              @include nav-flyout-shadow();
            }
          }
        }

        &.collapsing,
        &.collapse.in>div.collapsing {
          display: none;
        }
      }
    }
  }
}

#mainmenu {
  .glyphicon, .fa {
    opacity: 0.5;
  }
}

// .list-group-item {
//   overflow: hidden;
//   text-overflow: ellipsis;

//   +div.collapse {
//     margin-bottom: -1px;
//   }

//   +div>a {
//     padding-left: 44px;
//   }

// }

.list-group-submenu a {
  // padding-left: 56px;
}

.active-menu-title,
.active-menu a {
  // position: relative;
  // text-decoration: none;
  background-color: $theme-bg-secondary;

  &:before {
    width: 3px;
  }

  &.active {
    background-color: green;//$gray-darker;
  }
}

html #mainmenu {
  .active-menu-title {

    // &,
    &+.active-menu {
      background-color: $theme-bg-primary;
      color: $theme-text-secondary !important;
      padding-left: 0.75em;
    }
  }

  .list-group-item {
    // background-color: transparent;
  }
}