$body-bg: var(--body-bg) !default;
$text-color: var(--text-color) !default;
$link-color: var(--link-color) !default;
$link-hover-color: var(--link-hover-color) !default;
$background-primary: var(--background-primary) !default;
$background-secondary: var(--background-secondary) !default;
$background-tertiary: var(--background-tertiary) !default;
$headings-color: var(--headings-color) !default;
$text-muted: var(--text-muted) !default;
$input-bg: var(--input-bg) !default;
$input-color: var(--input-color) !default;
$input-border: var(--input-border) !default;
$input-border-focus: var(--input-border-focus) !default;
$input-color-placeholder: var(--input-color-placeholder) !default;
$btn-default-color: var(--btn-default-color) !default;
$btn-default-bg: var(--btn-default-bg) !default;
$btn-default-border: var(--btn-default-border) !default;
$btn-primary-color: var(--btn-primary-color) !default;
$btn-primary-bg: var(--btn-primary-bg) !default;
$btn-primary-border: var(--btn-primary-border) !default;
$table-bg: var(--table-bg) !default;
$table-bg-accent: var(--table-bg-accent) !default;
$table-bg-hover: var(--table-bg-hover) !default;
$table-border-color: var(--table-border-color) !default;
$table-color: var(--table-color) !default;
$navbar-default-bg: var(--navbar-bg) !default;
$navbar-default-border: var(--navbar-border) !default;
$navbar-default-link-color: var(--navbar-link-color) !default;
$navbar-default-link-hover-color: var(--navbar-link-hover-color) !default;
$navbar-default-brand-color: var(--navbar-brand-color) !default;
$navbar-default-toggle-icon-bar-bg: var(--navbar-toggle-icon) !default;
$panel-bg: var(--panel-bg) !default;
$panel-default-border: var(--panel-border) !default;
$panel-default-text: var(--panel-text) !default;
$panel-default-heading-bg: var(--panel-heading-bg) !default;
$alert-success-bg: var(--alert-success-bg) !default;
$alert-success-text: var(--alert-success-text) !default;
$alert-success-border: var(--alert-success-border) !default;
$alert-info-bg: var(--alert-info-bg) !default;
$alert-info-text: var(--alert-info-text) !default;
$alert-info-border: var(--alert-info-border) !default;
$alert-warning-bg: var(--alert-warning-bg) !default;
$alert-warning-text: var(--alert-warning-text) !default;
$alert-warning-border: var(--alert-warning-border) !default;
$alert-danger-bg: var(--alert-danger-bg) !default;
$alert-danger-text: var(--alert-danger-text) !default;
$alert-danger-border: var(--alert-danger-border) !default;
$dropdown-bg: var(--dropdown-bg) !default;
$dropdown-border: var(--dropdown-border) !default;
$dropdown-link-color: var(--dropdown-link-color) !default;
$dropdown-link-hover-bg: var(--dropdown-link-hover-bg) !default;
$dropdown-link-hover-color: var(--dropdown-link-hover-color) !default;
$pagination-color: var(--pagination-color) !default;
$pagination-bg: var(--pagination-bg) !default;
$pagination-border: var(--pagination-border) !default;
$pagination-hover-bg: var(--pagination-hover-bg) !default;
$pagination-hover-color: var(--pagination-hover-color) !default;
$pagination-active-bg: var(--pagination-active-bg) !default;
$pagination-active-color: var(--pagination-active-color) !default;
$pagination-active-border: var(--pagination-active-border) !default;
$pagination-disabled-bg: var(--pagination-disabled-bg) !default;
$pagination-disabled-color: var(--pagination-disabled-color) !default;
$pagination-disabled-border: var(--pagination-disabled-border) !default;
$modal-content-bg: var(--modal-content-bg) !default;
$modal-content-border: var(--modal-content-border) !default;
$modal-header-border-color: var(--modal-header-border) !default;
$modal-footer-border-color: var(--modal-footer-border) !default;
$modal-title-color: var(--modal-header-color) !default;
$modal-body-color: var(--modal-body-color) !default;
$modal-header-color: var(--modal-header-color) !default;
$modal-footer-color: var(--modal-footer-color) !default;
$modal-backdrop-bg: var(--modal-backdrop-bg) !default;
$modal-backdrop-opacity: var(--modal-backdrop-opacity) !default;
$list-group-bg: var(--list-group-bg) !default;
$list-group-border: var(--list-group-border) !default;
$list-group-hover-bg: var(--list-group-hover-bg) !default;
$list-group-active-color: var(--list-group-active-color) !default;
$list-group-active-border: var(--list-group-active-border) !default;
$list-group-active-bg: var(--list-group-active-bg) !default;
$list-group-active-text-color: var(--list-group-active-text-color) !default;
$progress-bg: var(--progress-bg) !default;