@import "open-sans/open-sans";

html,
body {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: $font-size-base;
}

.page-content-head {

  .navbar-nav {
    // width: 100%;
  }

  h1 {
    font-weight: 300;
  }
}


.table>colgroup+thead>tr {

  th,
  td {
    font-family: "Open Sans", sans-serif !important;
    background-color: red;
  }
}

.table thead tr {

  th,
  td {
    font-family: "Open Sans", sans-serif !important;
  }
}